html {
    /*1rem = 10px */
    box-sizing: border-box;
    font-size: 62.5%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
:root {
    /* Colors */
    --clr-primary-1: #272b30;
    --clr-primary-2: #2a2e33;
    --clr-primary-3: #4799eb;

    --clr-primary-4: #94620c;
    --clr-primary-5: #e0a53f;
    --clr-primary-6: #d10024;
    --clr-primary-7: #24292e;
    --clr-primary-8: #f4f5f8;

    /* Text colors  and Tags*/
    --clr-text-1: #aaaaaa;

    /* Animations */
    --transition: all 0.3s ease-in-out;

    /* Typography */
    --spacing: 0.1rem;
    --line-height: 1.25;

    /*margin*/
    --margin-x: 20rem;
    --margin-y: 4rem;
    --section-margin-y: 20rem;

    /* Media Query's */
    --bp-1850: 115.62em;
    --bp-1400: 87.5em;
    /* 1400px / 16px */
    --bp-big: 68.75em;
    /* 1100px / 16px */
    --bp-large: 50em;
    /* 800px / 16px */
    --bp-medium: 37.5em;
    /* 600px / 16px */
    --bp-small: 31.25em;
    /* 500px /16px */
    --bp-smallest: 25em;
    /* 400px /16px */
    --bp-landscape: 31.25em;
    /* 500px height */
}

body {
    font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

ul {
    list-style-type: none;
}

li {
    text-decoration: none;
}

a {
    text-decoration: none;
    /* color: #fff; */
}

h1,
h2,
h3,
h4,
h5 {
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    /* line-height: var(--line-height); */
    /* margin-bottom: 0.75rem; */
}

h1 {
    font-size: 2.6rem;
}
h2 {
    font-size: 2.1rem;
}
h3 {
    font-size: 1.7rem;
}
h4 {
    font-size: 1.4rem;
}

h5 {
    font-size: 1.2rem;
}

.btn {
    cursor: pointer;
    background: var(--clr-primary-6);
    color: #fff;
    padding: 0.5rem 1rem;
    letter-spacing: var(--spacing);
    transform: var(--transition);
    border-color: transparent;
    font-weight: bold;
}
